<div class="card">
  <h2>¿Olvidaste tu contraseña?</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Correo electrónico:</label>
    <input type="email" formControlName="email" />
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <small class="error" *ngIf="form.get('email')?.errors?.['required']">Este campo es obligatorio</small>
      <small class="error" *ngIf="form.get('email')?.errors?.['email']">Correo inválido</small>
    </div>
    <button type="submit">Enviar enlace</button>
  </form>

  <p class="message success" *ngIf="message.includes('@ok')">
    ✅ {{ message.replace('@ok', '').trim() }}
  </p>
  <p class="message error" *ngIf="message.includes('@error')">
    ❌ {{ message.replace('@error', '').trim() }}
  </p>
</div>
